.app {
    background: #fff;

    & .main-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-left: 240px;

        & .menu-bar{
            padding: 0 20px;
            line-height: 50px;
        }

    }
}
